.container {
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
}

.stats {
  margin: 2rem 0;
  font-size: 1.8rem;
  font-weight: 500;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer {
  font-size: 4rem;
}

.canvas-game {
  &__layer1 {
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
  }
  &__layer2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__layer3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.note-names {
  &__top-row {
    margin: 0 12.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  &__bottom-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  &__note {
    display: grid;
    justify-content: center;

    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    height: 6rem;
    width: 6rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 50%;

    box-shadow: 0 1.5rem 1.6rem rgba(#000, 0.2);

    transition: all 0.1s;

    &:active {
      transform: translateY(2px);
      box-shadow: 0 0.5rem 1rem rgba(#000, 0.3);
    }

    & span {
      transform: translateY(-20%);
    }
  }
}
