.settings {
  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(min-content, 5vh);
  }

  &__dropdown {
    &--btn {
      grid-column: 1 / 2;

      background-color: #3498db;
      color: white;
      height: 100%;
      width: 100%;
      border: none;
      cursor: pointer;

      &--btn:hover,
      &--byn:focus {
        background-color: #2980b9;
      }

      &-icon {
        font-size: 3rem;
      }
    }

    &--content {
      max-width: 120rem;

      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: 100vw;
      height: 95vh;
      z-index: 2;

      &--grid {
        display: grid;
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
      }
    }
  }
}

.rangeHeader {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  grid-column: 1 / -1;
}

.canvas-range {
  // border: 1px solid black;

  grid-column: 1 / -1;
}

.timer-select {
  grid-column: 2 / -1;
  width: 75%;

  &__label {
    grid-column: 1 / 2;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.btn-restart {
  grid-column: 1 / -1;
  width: 50vw;
  justify-self: center;
  border: none;
  cursor: pointer;
  background-color: #2980b9;
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.6rem;
}

.language__dropdown {
  &--btn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: #40c057;
    color: white;
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;

    &--btn:hover,
    &--btn:focus {
      background-color: #51cf66;
    }

    &-icon {
      font-size: 3rem;
    }
  }
  &--content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 50vw;
    height: 20vh;
    z-index: 3;

    &--he {
      transform: translateX(-100%);
    }
  }

  &--list {
    list-style: none;
    display: grid;
    margin-top: 2rem;
    grid-row-gap: 2rem;
    font-size: 1.5rem;

    a {
      text-decoration: none;
    }
  }
}

.show {
  display: block;
}
