* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Secular One", sans-serif;
}

body {
  margin: auto;
  max-width: 100vw;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.canvas {
  margin-bottom: 2rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 120rem;
  margin: 0 auto;
}

.stats {
  margin: 2rem 0;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer {
  font-size: 4rem;
}

.note-names__top-row {
  margin: 0 12.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.note-names__bottom-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.note-names__note {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  height: 6rem;
  width: 6rem;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.2);
}

.note-names__note:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.note-names__note span {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.settings__btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: minmax(min-content, 5vh);
      grid-template-rows: minmax(-webkit-min-content, 5vh);
      grid-template-rows: minmax(min-content, 5vh);
}

.settings__dropdown--btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background-color: #3498db;
  color: white;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
}

.settings__dropdown--btn--btn:hover, .settings__dropdown--btn--byn:focus {
  background-color: #2980b9;
}

.settings__dropdown--btn-icon {
  font-size: 3rem;
}

.settings__dropdown--content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100vw;
  height: 95vh;
  z-index: 1;
}

.settings__dropdown--content--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content max-content;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
}

.rangeHeader {
  margin-top: 4rem;
  font-size: 2rem;
  letter-spacing: 1px;
  grid-column: 1 / -1;
}

.canvas-range {
  grid-column: 1 / -1;
}

.timer-select {
  grid-column: 2 / -1;
  width: 75%;
}

.timer-select__label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  font-size: 1.6rem;
}

.btn-restart {
  grid-column: 1 / -1;
  width: 50vw;
  -ms-grid-column-align: center;
      justify-self: center;
  border: none;
  cursor: pointer;
  background-color: #2980b9;
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
}

.language__dropdown--btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-color: #40c057;
  color: white;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
}

.language__dropdown--btn--btn:hover, .language__dropdown--btn--btn:focus {
  background-color: #51cf66;
}

.language__dropdown--btn-icon {
  font-size: 3rem;
}

.language__dropdown--content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 50vw;
  height: 20vh;
  z-index: 1;
}

.language__dropdown--content--he {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.language__dropdown--list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
  grid-row-gap: 2rem;
  font-size: 1.5rem;
}

.language__dropdown--list a {
  text-decoration: none;
}

.show {
  display: block;
}
/*# sourceMappingURL=main.css.map */