*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: auto;
  max-width: 100vw;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.container {
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
}

.stats {
  margin: 2rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer {
  font-size: 4rem;
}

.canvas-game__layer1 {
  max-width: 120rem;
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
}
.canvas-game__layer2 {
  max-width: 120rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.canvas-game__layer3 {
  max-width: 120rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.note-names__top-row {
  margin: 0 12.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.note-names__bottom-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.note-names__note {
  display: grid;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  height: 6rem;
  width: 6rem;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 1.5rem 1.6rem rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
}
.note-names__note:active {
  transform: translateY(2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.note-names__note span {
  transform: translateY(-20%);
}

.settings__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(min-content, 5vh);
}
.settings__dropdown--btn {
  grid-column: 1/2;
  background-color: #3498db;
  color: white;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
}
.settings__dropdown--btn--btn:hover, .settings__dropdown--btn--byn:focus {
  background-color: #2980b9;
}
.settings__dropdown--btn-icon {
  font-size: 3rem;
}
.settings__dropdown--content {
  max-width: 120rem;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100vw;
  height: 95vh;
  z-index: 2;
}
.settings__dropdown--content--grid {
  display: grid;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
}

.rangeHeader {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  grid-column: 1/-1;
}

.canvas-range {
  grid-column: 1/-1;
}

.timer-select {
  grid-column: 2/-1;
  width: 75%;
}
.timer-select__label {
  grid-column: 1/2;
  font-size: 1.8rem;
  font-weight: 500;
}

.btn-restart {
  grid-column: 1/-1;
  width: 50vw;
  justify-self: center;
  border: none;
  cursor: pointer;
  background-color: #2980b9;
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.6rem;
}

.language__dropdown--btn {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #40c057;
  color: white;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
}
.language__dropdown--btn--btn:hover, .language__dropdown--btn--btn:focus {
  background-color: #51cf66;
}
.language__dropdown--btn-icon {
  font-size: 3rem;
}
.language__dropdown--content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 50vw;
  height: 20vh;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.language__dropdown--content--he {
  transform: translateX(-100%);
}
.language__dropdown--list {
  list-style: none;
  display: grid;
  margin-top: 2rem;
  grid-row-gap: 2rem;
  font-size: 1.5rem;
}
.language__dropdown--list a {
  text-decoration: none;
}

.show {
  display: block;
}

.tuner {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.tuner__label {
  font-size: 1.6rem;
}/*# sourceMappingURL=main.css.map */